In [6]:
from jupyter_tests import datasource, chart

import plotly
import plotly.graph_objs as go

import pandas as pd
import numpy as np
import json

from datetime import datetime

def _get_charts(data):
    """Get plotly charts collection for the available features
    Returns:
        dict that contains chart confs as JSON strings
    """

    charts = [
        {'column': 'hospitalized', 'chart_type': go.Scatter, 'chart_options': {'line_shape': 'spline'}},
        {'column': 'resuscitation', 'chart_type': go.Scatter, 'chart_options': {'line_shape': 'spline'}},
        {'column': 'healed_daily'},
        {'column': 'death_daily', 'column_label': 'Total', 'overlap_column': 'death_women_daily', 'overlap_column_label': 'Dont femmes'},
        {'column': 'death', 'column_label': 'Total', 'overlap_column': 'death_women', 'overlap_column_label': 'Dont femmes'},
    ]

    json_charts = {}
    for chart_conf in charts:
        json_charts[chart_conf['column']] = chart.create_plot(
            data=data,
            **chart_conf
        )
    return json_charts

ds = datasource.DataSource()

if ds.need_update():
    ds.update_data()

charts = _get_charts(ds.data_country)
overall_departments_data1, overall_departments_quantiles1 = ds.get_overall_departments_data_as_json()

In [7]:
import pandas as pd
# Covid charts
source_url = 'https://www.data.gouv.fr/fr/datasets/r/63352e38-d353-4b54-bfd1-f1b3ee1cabd7'
covidata = pd.read_csv(source_url, sep=';')

In [8]:
from graphs import graph, overall_departments_data_as_json

overall_departments_data, overall_departments_quantiles = overall_departments_data_as_json()

In [9]:
overall_departments_quantiles

'{"0.25":7.32,"0.5":13.95,"0.75":32.54,"0.949":68.29}'

In [10]:
overall_departments_quantiles1

'{"0.25":7.32,"0.5":13.95,"0.75":32.54,"0.949":68.29}'

In [11]:
overall_departments_data

'{"department-01":{"label":"Ain","dc":95,"dc_par_habitants":14.77,"insee":"01"},"department-02":{"label":"Aisne","dc":263,"dc_par_habitants":49.21,"insee":"02"},"department-03":{"label":"Allier","dc":38,"dc_par_habitants":11.24,"insee":"03"},"department-04":{"label":"Alpes-de-Haute-Provence","dc":12,"dc_par_habitants":7.32,"insee":"04"},"department-05":{"label":"Hautes-Alpes","dc":17,"dc_par_habitants":12.03,"insee":"05"},"department-06":{"label":"Alpes-Maritimes","dc":179,"dc_par_habitants":16.52,"insee":"06"},"department-07":{"label":"Ard\\u00e8che","dc":105,"dc_par_habitants":32.24,"insee":"07"},"department-08":{"label":"Ardennes","dc":54,"dc_par_habitants":19.74,"insee":"08"},"department-09":{"label":"Ari\\u00e8ge","dc":2,"dc_par_habitants":1.31,"insee":"09"},"department-10":{"label":"Aube","dc":133,"dc_par_habitants":42.9,"insee":"10"},"department-11":{"label":"Aude","dc":55,"dc_par_habitants":14.85,"insee":"11"},"department-12":{"label":"Aveyron","dc":24,"dc_par_habitants":8.6,"insee":"12"},"department-13":{"label":"Bouches-du-Rh\\u00f4ne","dc":526,"dc_par_habitants":25.99,"insee":"13"},"department-14":{"label":"Calvados","dc":82,"dc_par_habitants":11.82,"insee":"14"},"department-15":{"label":"Cantal","dc":9,"dc_par_habitants":6.2,"insee":"15"},"department-16":{"label":"Charente","dc":12,"dc_par_habitants":3.41,"insee":"16"},"department-17":{"label":"Charente-Maritime","dc":48,"dc_par_habitants":7.45,"insee":"17"},"department-18":{"label":"Cher","dc":74,"dc_par_habitants":24.32,"insee":"18"},"department-19":{"label":"Corr\\u00e8ze","dc":34,"dc_par_habitants":14.08,"insee":"19"},"department-21":{"label":"C\\u00f4te-d\'Or","dc":243,"dc_par_habitants":45.52,"insee":"21"},"department-22":{"label":"C\\u00f4tes-d\'Armor","dc":32,"dc_par_habitants":5.34,"insee":"22"},"department-23":{"label":"Creuse","dc":11,"dc_par_habitants":9.27,"insee":"23"},"department-24":{"label":"Dordogne","dc":13,"dc_par_habitants":3.14,"insee":"24"},"department-25":{"label":"Doubs","dc":148,"dc_par_habitants":27.45,"insee":"25"},"department-26":{"label":"Dr\\u00f4me","dc":129,"dc_par_habitants":25.22,"insee":"26"},"department-27":{"label":"Eure","dc":78,"dc_par_habitants":12.96,"insee":"27"},"department-28":{"label":"Eure-et-Loir","dc":119,"dc_par_habitants":27.47,"insee":"28"},"department-29":{"label":"Finist\\u00e8re","dc":43,"dc_par_habitants":4.73,"insee":"29"},"department-2A":{"label":"Corse-du-Sud","dc":48,"dc_par_habitants":30.52,"insee":"2A"},"department-2B":{"label":"Haute-Corse","dc":10,"dc_par_habitants":5.63,"insee":"2B"},"department-30":{"label":"Gard","dc":92,"dc_par_habitants":12.36,"insee":"30"},"department-31":{"label":"Haute-Garonne","dc":68,"dc_par_habitants":4.99,"insee":"31"},"department-32":{"label":"Gers","dc":23,"dc_par_habitants":12.04,"insee":"32"},"department-33":{"label":"Gironde","dc":146,"dc_par_habitants":9.22,"insee":"33"},"department-34":{"label":"H\\u00e9rault","dc":118,"dc_par_habitants":10.31,"insee":"34"},"department-35":{"label":"Ille-et-Vilaine","dc":84,"dc_par_habitants":7.92,"insee":"35"},"department-36":{"label":"Indre","dc":76,"dc_par_habitants":34.2,"insee":"36"},"department-37":{"label":"Indre-et-Loire","dc":79,"dc_par_habitants":13.03,"insee":"37"},"department-38":{"label":"Is\\u00e8re","dc":144,"dc_par_habitants":11.44,"insee":"38"},"department-39":{"label":"Jura","dc":61,"dc_par_habitants":23.44,"insee":"39"},"department-40":{"label":"Landes","dc":12,"dc_par_habitants":2.95,"insee":"40"},"department-41":{"label":"Loir-et-Cher","dc":63,"dc_par_habitants":18.98,"insee":"41"},"department-42":{"label":"Loire","dc":238,"dc_par_habitants":31.2,"insee":"42"},"department-43":{"label":"Haute-Loire","dc":15,"dc_par_habitants":6.6,"insee":"43"},"department-44":{"label":"Loire-Atlantique","dc":144,"dc_par_habitants":10.32,"insee":"44"},"department-45":{"label":"Loiret","dc":96,"dc_par_habitants":14.16,"insee":"45"},"department-46":{"label":"Lot","dc":22,"dc_par_habitants":12.66,"insee":"46"},"department-47":{"label":"Lot-et-Garonne","dc":9,"dc_par_habitants":2.7,"insee":"47"},"department-48":{"label":"Loz\\u00e8re","dc":1,"dc_par_habitants":1.31,"insee":"48"},"department-49":{"label":"Maine-et-Loire","dc":133,"dc_par_habitants":16.35,"insee":"49"},"department-50":{"label":"Manche","dc":47,"dc_par_habitants":9.46,"insee":"50"},"department-51":{"label":"Marne","dc":254,"dc_par_habitants":44.65,"insee":"51"},"department-52":{"label":"Haute-Marne","dc":79,"dc_par_habitants":44.98,"insee":"52"},"department-53":{"label":"Mayenne","dc":43,"dc_par_habitants":13.99,"insee":"53"},"department-54":{"label":"Meurthe-et-Moselle","dc":341,"dc_par_habitants":46.49,"insee":"54"},"department-55":{"label":"Meuse","dc":97,"dc_par_habitants":51.82,"insee":"55"},"department-56":{"label":"Morbihan","dc":90,"dc_par_habitants":11.99,"insee":"56"},"department-57":{"label":"Moselle","dc":799,"dc_par_habitants":76.57,"insee":"57"},"department-58":{"label":"Ni\\u00e8vre","dc":27,"dc_par_habitants":13.03,"insee":"58"},"department-59":{"label":"Nord","dc":576,"dc_par_habitants":22.12,"insee":"59"},"department-60":{"label":"Oise","dc":391,"dc_par_habitants":47.42,"insee":"60"},"department-61":{"label":"Orne","dc":37,"dc_par_habitants":13.06,"insee":"61"},"department-62":{"label":"Pas-de-Calais","dc":285,"dc_par_habitants":19.41,"insee":"62"},"department-63":{"label":"Puy-de-D\\u00f4me","dc":42,"dc_par_habitants":6.42,"insee":"63"},"department-64":{"label":"Pyr\\u00e9n\\u00e9es-Atlantiques","dc":27,"dc_par_habitants":3.99,"insee":"64"},"department-65":{"label":"Hautes-Pyr\\u00e9n\\u00e9es","dc":26,"dc_par_habitants":11.38,"insee":"65"},"department-66":{"label":"Pyr\\u00e9n\\u00e9es-Orientales","dc":34,"dc_par_habitants":7.17,"insee":"66"},"department-67":{"label":"Bas-Rhin","dc":633,"dc_par_habitants":56.24,"insee":"67"},"department-68":{"label":"Haut-Rhin","dc":778,"dc_par_habitants":101.83,"insee":"68"},"department-69":{"label":"Rh\\u00f4ne","dc":627,"dc_par_habitants":34.01,"insee":"69"},"department-70":{"label":"Haute-Sa\\u00f4ne","dc":77,"dc_par_habitants":32.54,"insee":"70"},"department-71":{"label":"Sa\\u00f4ne-et-Loire","dc":195,"dc_par_habitants":35.22,"insee":"71"},"department-72":{"label":"Sarthe","dc":79,"dc_par_habitants":13.95,"insee":"72"},"department-73":{"label":"Savoie","dc":68,"dc_par_habitants":15.77,"insee":"73"},"department-74":{"label":"Haute-Savoie","dc":160,"dc_par_habitants":19.82,"insee":"74"},"department-75":{"label":"Paris","dc":1692,"dc_par_habitants":77.35,"insee":"75"},"department-76":{"label":"Seine-Maritime","dc":176,"dc_par_habitants":14.03,"insee":"76"},"department-77":{"label":"Seine-et-Marne","dc":638,"dc_par_habitants":45.44,"insee":"77"},"department-78":{"label":"Yvelines","dc":493,"dc_par_habitants":34.28,"insee":"78"},"department-79":{"label":"Deux-S\\u00e8vres","dc":20,"dc_par_habitants":5.34,"insee":"79"},"department-80":{"label":"Somme","dc":215,"dc_par_habitants":37.56,"insee":"80"},"department-81":{"label":"Tarn","dc":22,"dc_par_habitants":5.67,"insee":"81"},"department-82":{"label":"Tarn-et-Garonne","dc":5,"dc_par_habitants":1.94,"insee":"82"},"department-83":{"label":"Var","dc":128,"dc_par_habitants":12.09,"insee":"83"},"department-84":{"label":"Vaucluse","dc":36,"dc_par_habitants":6.43,"insee":"84"},"department-85":{"label":"Vend\\u00e9e","dc":38,"dc_par_habitants":5.63,"insee":"85"},"department-86":{"label":"Vienne","dc":38,"dc_par_habitants":8.7,"insee":"86"},"department-87":{"label":"Haute-Vienne","dc":25,"dc_par_habitants":6.68,"insee":"87"},"department-88":{"label":"Vosges","dc":253,"dc_par_habitants":68.81,"insee":"88"},"department-89":{"label":"Yonne","dc":84,"dc_par_habitants":24.83,"insee":"89"},"department-90":{"label":"Territoire de Belfort","dc":174,"dc_par_habitants":122.0,"insee":"90"},"department-91":{"label":"Essonne","dc":495,"dc_par_habitants":38.19,"insee":"91"},"department-92":{"label":"Hauts-de-Seine","dc":1023,"dc_par_habitants":63.57,"insee":"92"},"department-93":{"label":"Seine-Saint-Denis","dc":948,"dc_par_habitants":58.41,"insee":"93"},"department-94":{"label":"Val-de-Marne","dc":1125,"dc_par_habitants":81.06,"insee":"94"},"department-95":{"label":"Val-d\'Oise","dc":677,"dc_par_habitants":55.1,"insee":"95"},"department-971":{"label":"Guadeloupe","dc":19,"dc_par_habitants":4.87,"insee":"971"},"department-972":{"label":"Martinique","dc":14,"dc_par_habitants":3.76,"insee":"972"},"department-973":{"label":"Guyane","dc":1,"dc_par_habitants":0.37,"insee":"973"},"department-974":{"label":"La R\\u00e9union","dc":1,"dc_par_habitants":0.12,"insee":"974"},"department-976":{"label":"Mayotte","dc":19,"dc_par_habitants":7.41,"insee":"976"}}'

In [12]:
overall_departments_data1

'{"department-01":{"label":"Ain","death":95,"death_per_inhabitants":14.77,"insee":"01"},"department-02":{"label":"Aisne","death":263,"death_per_inhabitants":49.21,"insee":"02"},"department-03":{"label":"Allier","death":38,"death_per_inhabitants":11.24,"insee":"03"},"department-04":{"label":"Alpes-de-Haute-Provence","death":12,"death_per_inhabitants":7.32,"insee":"04"},"department-05":{"label":"Hautes-Alpes","death":17,"death_per_inhabitants":12.03,"insee":"05"},"department-06":{"label":"Alpes-Maritimes","death":179,"death_per_inhabitants":16.52,"insee":"06"},"department-07":{"label":"Ard\\u00e8che","death":105,"death_per_inhabitants":32.24,"insee":"07"},"department-08":{"label":"Ardennes","death":54,"death_per_inhabitants":19.74,"insee":"08"},"department-09":{"label":"Ari\\u00e8ge","death":2,"death_per_inhabitants":1.31,"insee":"09"},"department-10":{"label":"Aube","death":133,"death_per_inhabitants":42.9,"insee":"10"},"department-11":{"label":"Aude","death":55,"death_per_inhabitants":14.85,"insee":"11"},"department-12":{"label":"Aveyron","death":24,"death_per_inhabitants":8.6,"insee":"12"},"department-13":{"label":"Bouches-du-Rh\\u00f4ne","death":526,"death_per_inhabitants":25.99,"insee":"13"},"department-14":{"label":"Calvados","death":82,"death_per_inhabitants":11.82,"insee":"14"},"department-15":{"label":"Cantal","death":9,"death_per_inhabitants":6.2,"insee":"15"},"department-16":{"label":"Charente","death":12,"death_per_inhabitants":3.41,"insee":"16"},"department-17":{"label":"Charente-Maritime","death":48,"death_per_inhabitants":7.45,"insee":"17"},"department-18":{"label":"Cher","death":74,"death_per_inhabitants":24.32,"insee":"18"},"department-19":{"label":"Corr\\u00e8ze","death":34,"death_per_inhabitants":14.08,"insee":"19"},"department-21":{"label":"C\\u00f4te-d\'Or","death":243,"death_per_inhabitants":45.52,"insee":"21"},"department-22":{"label":"C\\u00f4tes-d\'Armor","death":32,"death_per_inhabitants":5.34,"insee":"22"},"department-23":{"label":"Creuse","death":11,"death_per_inhabitants":9.27,"insee":"23"},"department-24":{"label":"Dordogne","death":13,"death_per_inhabitants":3.14,"insee":"24"},"department-25":{"label":"Doubs","death":148,"death_per_inhabitants":27.45,"insee":"25"},"department-26":{"label":"Dr\\u00f4me","death":129,"death_per_inhabitants":25.22,"insee":"26"},"department-27":{"label":"Eure","death":78,"death_per_inhabitants":12.96,"insee":"27"},"department-28":{"label":"Eure-et-Loir","death":119,"death_per_inhabitants":27.47,"insee":"28"},"department-29":{"label":"Finist\\u00e8re","death":43,"death_per_inhabitants":4.73,"insee":"29"},"department-2A":{"label":"Corse-du-Sud","death":48,"death_per_inhabitants":30.52,"insee":"2A"},"department-2B":{"label":"Haute-Corse","death":10,"death_per_inhabitants":5.63,"insee":"2B"},"department-30":{"label":"Gard","death":92,"death_per_inhabitants":12.36,"insee":"30"},"department-31":{"label":"Haute-Garonne","death":68,"death_per_inhabitants":4.99,"insee":"31"},"department-32":{"label":"Gers","death":23,"death_per_inhabitants":12.04,"insee":"32"},"department-33":{"label":"Gironde","death":146,"death_per_inhabitants":9.22,"insee":"33"},"department-34":{"label":"H\\u00e9rault","death":118,"death_per_inhabitants":10.31,"insee":"34"},"department-35":{"label":"Ille-et-Vilaine","death":84,"death_per_inhabitants":7.92,"insee":"35"},"department-36":{"label":"Indre","death":76,"death_per_inhabitants":34.2,"insee":"36"},"department-37":{"label":"Indre-et-Loire","death":79,"death_per_inhabitants":13.03,"insee":"37"},"department-38":{"label":"Is\\u00e8re","death":144,"death_per_inhabitants":11.44,"insee":"38"},"department-39":{"label":"Jura","death":61,"death_per_inhabitants":23.44,"insee":"39"},"department-40":{"label":"Landes","death":12,"death_per_inhabitants":2.95,"insee":"40"},"department-41":{"label":"Loir-et-Cher","death":63,"death_per_inhabitants":18.98,"insee":"41"},"department-42":{"label":"Loire","death":238,"death_per_inhabitants":31.2,"insee":"42"},"department-43":{"label":"Haute-Loire","death":15,"death_per_inhabitants":6.6,"insee":"43"},"department-44":{"label":"Loire-Atlantique","death":144,"death_per_inhabitants":10.32,"insee":"44"},"department-45":{"label":"Loiret","death":96,"death_per_inhabitants":14.16,"insee":"45"},"department-46":{"label":"Lot","death":22,"death_per_inhabitants":12.66,"insee":"46"},"department-47":{"label":"Lot-et-Garonne","death":9,"death_per_inhabitants":2.7,"insee":"47"},"department-48":{"label":"Loz\\u00e8re","death":1,"death_per_inhabitants":1.31,"insee":"48"},"department-49":{"label":"Maine-et-Loire","death":133,"death_per_inhabitants":16.35,"insee":"49"},"department-50":{"label":"Manche","death":47,"death_per_inhabitants":9.46,"insee":"50"},"department-51":{"label":"Marne","death":254,"death_per_inhabitants":44.65,"insee":"51"},"department-52":{"label":"Haute-Marne","death":79,"death_per_inhabitants":44.98,"insee":"52"},"department-53":{"label":"Mayenne","death":43,"death_per_inhabitants":13.99,"insee":"53"},"department-54":{"label":"Meurthe-et-Moselle","death":341,"death_per_inhabitants":46.49,"insee":"54"},"department-55":{"label":"Meuse","death":97,"death_per_inhabitants":51.82,"insee":"55"},"department-56":{"label":"Morbihan","death":90,"death_per_inhabitants":11.99,"insee":"56"},"department-57":{"label":"Moselle","death":799,"death_per_inhabitants":76.57,"insee":"57"},"department-58":{"label":"Ni\\u00e8vre","death":27,"death_per_inhabitants":13.03,"insee":"58"},"department-59":{"label":"Nord","death":576,"death_per_inhabitants":22.12,"insee":"59"},"department-60":{"label":"Oise","death":391,"death_per_inhabitants":47.42,"insee":"60"},"department-61":{"label":"Orne","death":37,"death_per_inhabitants":13.06,"insee":"61"},"department-62":{"label":"Pas-de-Calais","death":285,"death_per_inhabitants":19.41,"insee":"62"},"department-63":{"label":"Puy-de-D\\u00f4me","death":42,"death_per_inhabitants":6.42,"insee":"63"},"department-64":{"label":"Pyr\\u00e9n\\u00e9es-Atlantiques","death":27,"death_per_inhabitants":3.99,"insee":"64"},"department-65":{"label":"Hautes-Pyr\\u00e9n\\u00e9es","death":26,"death_per_inhabitants":11.38,"insee":"65"},"department-66":{"label":"Pyr\\u00e9n\\u00e9es-Orientales","death":34,"death_per_inhabitants":7.17,"insee":"66"},"department-67":{"label":"Bas-Rhin","death":633,"death_per_inhabitants":56.24,"insee":"67"},"department-68":{"label":"Haut-Rhin","death":778,"death_per_inhabitants":101.83,"insee":"68"},"department-69":{"label":"Rh\\u00f4ne","death":627,"death_per_inhabitants":34.01,"insee":"69"},"department-70":{"label":"Haute-Sa\\u00f4ne","death":77,"death_per_inhabitants":32.54,"insee":"70"},"department-71":{"label":"Sa\\u00f4ne-et-Loire","death":195,"death_per_inhabitants":35.22,"insee":"71"},"department-72":{"label":"Sarthe","death":79,"death_per_inhabitants":13.95,"insee":"72"},"department-73":{"label":"Savoie","death":68,"death_per_inhabitants":15.77,"insee":"73"},"department-74":{"label":"Haute-Savoie","death":160,"death_per_inhabitants":19.82,"insee":"74"},"department-75":{"label":"Paris","death":1692,"death_per_inhabitants":77.35,"insee":"75"},"department-76":{"label":"Seine-Maritime","death":176,"death_per_inhabitants":14.03,"insee":"76"},"department-77":{"label":"Seine-et-Marne","death":638,"death_per_inhabitants":45.44,"insee":"77"},"department-78":{"label":"Yvelines","death":493,"death_per_inhabitants":34.28,"insee":"78"},"department-79":{"label":"Deux-S\\u00e8vres","death":20,"death_per_inhabitants":5.34,"insee":"79"},"department-80":{"label":"Somme","death":215,"death_per_inhabitants":37.56,"insee":"80"},"department-81":{"label":"Tarn","death":22,"death_per_inhabitants":5.67,"insee":"81"},"department-82":{"label":"Tarn-et-Garonne","death":5,"death_per_inhabitants":1.94,"insee":"82"},"department-83":{"label":"Var","death":128,"death_per_inhabitants":12.09,"insee":"83"},"department-84":{"label":"Vaucluse","death":36,"death_per_inhabitants":6.43,"insee":"84"},"department-85":{"label":"Vend\\u00e9e","death":38,"death_per_inhabitants":5.63,"insee":"85"},"department-86":{"label":"Vienne","death":38,"death_per_inhabitants":8.7,"insee":"86"},"department-87":{"label":"Haute-Vienne","death":25,"death_per_inhabitants":6.68,"insee":"87"},"department-88":{"label":"Vosges","death":253,"death_per_inhabitants":68.81,"insee":"88"},"department-89":{"label":"Yonne","death":84,"death_per_inhabitants":24.83,"insee":"89"},"department-90":{"label":"Territoire de Belfort","death":174,"death_per_inhabitants":122.0,"insee":"90"},"department-91":{"label":"Essonne","death":495,"death_per_inhabitants":38.19,"insee":"91"},"department-92":{"label":"Hauts-de-Seine","death":1023,"death_per_inhabitants":63.57,"insee":"92"},"department-93":{"label":"Seine-Saint-Denis","death":948,"death_per_inhabitants":58.41,"insee":"93"},"department-94":{"label":"Val-de-Marne","death":1125,"death_per_inhabitants":81.06,"insee":"94"},"department-95":{"label":"Val-d\'Oise","death":677,"death_per_inhabitants":55.1,"insee":"95"},"department-971":{"label":"Guadeloupe","death":19,"death_per_inhabitants":4.87,"insee":"971"},"department-972":{"label":"Martinique","death":14,"death_per_inhabitants":3.76,"insee":"972"},"department-973":{"label":"Guyane","death":1,"death_per_inhabitants":0.37,"insee":"973"},"department-974":{"label":"La R\\u00e9union","death":1,"death_per_inhabitants":0.12,"insee":"974"},"department-976":{"label":"Mayotte","death":19,"death_per_inhabitants":7.41,"insee":"976"}}'

In [1]:
import pandas as pd
# Covid charts
source_url = 'https://www.data.gouv.fr/fr/datasets/r/63352e38-d353-4b54-bfd1-f1b3ee1cabd7'
covidata = pd.read_csv(source_url, sep=';')

covidata.head()

  dep  sexe        jour  hosp  rea  rad  dc
0  01     0  2020-03-18     2    0    1   0
1  01     1  2020-03-18     1    0    1   0
2  01     2  2020-03-18     1    0    0   0
3  02     0  2020-03-18    41   10   18  11
4  02     1  2020-03-18    19    4   11   6

In [4]:
cdata = covidata[covidata.sexe == 0].groupby(['jour']).sum().copy()
cdata = cdata[['hosp', 'rea', 'rad', 'dc']]

cdata.index = pd.to_datetime(cdata.index)

dc_j = []
rad_j = []
for i in range(len(cdata.index)):
    if i == 0:
        dc_j.append(cdata.dc[i])
        rad_j.append(cdata.rad[i])
    else:   
        dc_j.append(cdata.dc[i]-cdata.dc[i-1])
        rad_j.append(cdata.rad[i]-cdata.rad[i-1])

cdata["dc_j"] = dc_j
cdata["rad_j"] = rad_j


cdata.head()

            hosp   rea   rad   dc  dc_j  rad_j
jour
2020-03-18  2972   771   816  218   218    816
2020-03-19  4073  1002  1180  327   109    364
2020-03-20  5226  1297  1587  450   123    407
2020-03-21  5900  1453  1811  525    75    224
2020-03-22  6954  1674  2117  632   107    306

In [6]:
covidata[covidata.dep == "01"].head()

    dep  sexe        jour  hosp  rea  rad  dc
0    01     0  2020-03-18     2    0    1   0
1    01     1  2020-03-18     1    0    1   0
2    01     2  2020-03-18     1    0    0   0
303  01     0  2020-03-19     2    0    1   0
304  01     1  2020-03-19     1    0    1   0

In [32]:
covidata[(covidata.dep == '01') & (covidata.sexe == 0)].head()

     dep  sexe        jour  hosp  rea  rad  dc
0     01     0  2020-03-18     2    0    1   0
303   01     0  2020-03-19     2    0    1   0
606   01     0  2020-03-20     2    0    1   0
909   01     0  2020-03-21     4    0    1   0
1212  01     0  2020-03-22     8    1    2   0

In [36]:
department = ''

if department == '':
    cdata = covidata[covidata.sexe == 0].groupby(['jour']).sum().copy()
else: 
    cdata = covidata[(covidata.dep == department) & (covidata.sexe == 0)].groupby(['jour']).sum().copy()

cdata = cdata[['hosp', 'rea', 'rad', 'dc']]

cdata.index = pd.to_datetime(cdata.index)

dc_j = []
rad_j = []
for i in range(len(cdata.index)):
    if i == 0:
        dc_j.append(cdata.dc[i])
        rad_j.append(cdata.rad[i])
    else:   
        dc_j.append(cdata.dc[i]-cdata.dc[i-1])
        rad_j.append(cdata.rad[i]-cdata.rad[i-1])

cdata["dc_j"] = dc_j
cdata["rad_j"] = rad_j

            hosp   rea   rad   dc  dc_j  rad_j
jour
2020-03-18  2972   771   816  218   218    816
2020-03-19  4073  1002  1180  327   109    364
2020-03-20  5226  1297  1587  450   123    407
2020-03-21  5900  1453  1811  525    75    224
2020-03-22  6954  1674  2117  632   107    306

In [ ]:
    cdata = covidata[covidata.sexe == 0].groupby(['jour']).sum().copy()
    cdata = cdata[['hosp', 'rea', 'rad', 'dc']]

    cdata.index = pd.to_datetime(cdata.index)

    dc_j = []
    rad_j = []
    for i in range(len(cdata.index)):
        if i == 0:
            dc_j.append(cdata.dc[i])
            rad_j.append(cdata.rad[i])
        else:   
            dc_j.append(cdata.dc[i]-cdata.dc[i-1])
            rad_j.append(cdata.rad[i]-cdata.rad[i-1])

    cdata["dc_j"] = dc_j
    cdata["rad_j"] = rad_j

In [30]:
from graphs import department_label

label = department_label(department='')
print("R1 :", label)
if label == "":
    label = "France"
    department = ""

print("R2 :", label)
print("R3 :", department)

R1 :
R2 : France
R3 :

In [42]:
df = pd.DataFrame({'a': [0, -1, 2], 'b': [-3, 2, 1],
                           'c': ['foo', 'goo', 'bar']})

In [38]:
df

   a  b    c
0  0 -3  foo
1 -1  2  goo
2  2  1  bar

In [43]:
df[df.b<0]=0
df

   a  b    c
0  0  0    0
1 -1  2  goo
2  2  1  bar

In [ ]:
@app.route('/mapfr')
def mapfr():
	
    return render_template(
        "/mapfr.html",
        label="France",
        departement='',
        counters=counters,
        #max_date=datetime.strptime(ds.max_date, "%Y-%m-%d").strftime("%d/%m/%Y"),
        #last_update=datetime.strptime(ds.last_update, "%Y-%m-%dT%H:%M:%S.%f").strftime("%d/%m/%Y Ã  %Hh%M"),
        #charts=charts,
        overall_departments_data=overall_departments_data_map,
        overall_departments_quantiles=overall_departments_quantiles_map,
    )


##################



from jupyter_tests import datasource, chart


def _get_charts(data):
    """Get plotly charts collection for the available features
    Returns:
        dict that contains chart confs as JSON strings
    """

    charts = [
        {'column': 'hospitalized', 'chart_type': go.Scatter, 'chart_options': {'line_shape': 'spline'}},
        {'column': 'resuscitation', 'chart_type': go.Scatter, 'chart_options': {'line_shape': 'spline'}},
        {'column': 'healed_daily'},
        {'column': 'death_daily', 'column_label': 'Total', 'overlap_column': 'death_women_daily', 'overlap_column_label': 'Dont femmes'},
        {'column': 'death', 'column_label': 'Total', 'overlap_column': 'death_women', 'overlap_column_label': 'Dont femmes'},
    ]

    json_charts = {}
    for chart_conf in charts:
        json_charts[chart_conf['column']] = chart.create_plot(
            data=data,
            **chart_conf
        )
    return json_charts

"""Country page of the app"""
ds = datasource.DataSource()

if ds.need_update():
	ds.update_data()

charts = _get_charts(ds.data_country)
overall_departments_data, overall_departments_quantiles = ds.get_overall_departments_data_as_json()

@app.route('/map')
def map():
	
    return render_template(
        "/map.html",
        label="France",
        department='',
        counters=ds.counters,
        max_date=datetime.strptime(ds.max_date, "%Y-%m-%d").strftime("%d/%m/%Y"),
        last_update=datetime.strptime(ds.last_update, "%Y-%m-%dT%H:%M:%S.%f").strftime("%d/%m/%Y Ã  %Hh%M"),
        charts=charts,
        overall_departments_data=overall_departments_data,
        overall_departments_quantiles=overall_departments_quantiles,
    )